:root {
  --main-font-family: "Roboto", sans-serif;
  --main-color: black;
  --button-background-color: salmon;
}

*,
::before,
::after {
  box-sizing: content-box;
}

body,
h1,
h2 {
  margin: 0;
}

header {
  padding: 30px;
}

button {
  padding: 20px;
  color: var(--main-color);
  background-color: var(--button-background-color);
  font-family: var(--main-font-family);
  font-size: 1.2rem;
}

span {
  font-family: var(--main-font-family);
}
.main-content {
  font-family: var(--main-font-family);
  padding: 40px 40px;
  text-align: center;
  background-color: rgba(255, 255, 128, 0.5);
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
}
.cards {
  display: grid;
  height: 400px;
  width: 300px;
  border-radius: 30px;
  font-size: 50px;
  align-items: center;
  text-align: center;
  border: solid 10px;
  border-radius: 20px;
}

.card-figure {
  grid-area: 2/2;
}

.card-suit-bottom {
  grid-area: 3/3;
}

.card-incognit {
  object-fit: cover;
}

.container-button {
  padding: 40px;
}

.container-feedback {
  height: 30px;
  padding: 10px;
}

.hidden {
}
