:root {
  --main-font-family: "Roboto", sans-serif;
  --main-color: black;
  --button-background-color: rgb(250, 128, 114);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--main-font-family);
}

body,
h1,
h2 {
  margin: 0;
}

header {
  padding: 30px;
}

button {
  padding: 20px;
  color: var(--main-color);
  background-color: var(--button-background-color);
  font-family: var(--main-font-family);
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(0, 255, 255);
}

span {
  font-family: var(--main-font-family);
}

.main-content {
  text-align: center;
  background-color: rgba(255, 255, 128, 0.5);
  height: 100vh;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
}

.cards {
  display: grid;
  height: 400px;
  width: 300px;
  font-size: 50px;
  align-items: center;
  border: solid 10px;
  border-radius: 20px;
}

.card-figure {
  grid-area: 2/2;
}

.card-suit-bottom {
  grid-area: 3/3;
}

.card-incognit {
  object-fit: cover;
}

.container-feedback {
  height: 30px;
  padding: 30px;
}

.feedback {
  font-size: 2rem;
}

.hidden-cards {
  display: none;
}

.button-greater {
  visibility: hidden;
}

.button-smaller {
  visibility: hidden;
}

.interrogant {
  grid-area: 2/2;
}
